div.users-table-grid .table-header, .table-content{
    display: grid;
    grid-template-columns: 50px 50px 1fr 3fr 1fr 2fr 2fr 100px 100px;
    border-top: 1px solid var(--border-medium);
    border-right: 1px solid var(--border-medium);
}

div.users-table-grid > span {
    padding: 8px 4px;
    border-left: 1px solid var(--border-medium);
    border-bottom: 1px solid var(--border-medium);
    text-align: center;
}

table.users-table a {
    color: var(--font-foreground);
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

@media 
only screen and (max-width: 900px),
(min-device-width: 808px) and (max-device-width: 1024px)  {
	/*
	Label the data
	*/
	.users-table td:nth-of-type(1):before { content: "Select"; }
	.users-table td:nth-of-type(2):before { content: "Edit"; }
	.users-table td:nth-of-type(3):before { content: "Name"; }
	.users-table td:nth-of-type(4):before { content: "Email"; }
	.users-table td:nth-of-type(5):before { content: "Username"; }
	.users-table td:nth-of-type(6):before { content: "Created On"; }
	.users-table td:nth-of-type(7):before { content: "Last Login"; }
	.users-table td:nth-of-type(8):before { content: "Is Admin"; }
	.users-table td:nth-of-type(9):before { content: "Is Activated"; }
}