
.shopping-items-in-list {
    position: relative;
    top: 0;
    left: 0;
}

.shopping-items-in-list .item-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-medium);
}

.shopping-items-in-list span.name {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    flex: 1;
}


table select {
    width: 100%;
}

form .shopping.submit-button {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--background-medium-light);
    border-radius: 5px;
}

.shopping.submit-button input[type="submit"] {
    margin: 10px 0;
    width: unset;
}

.shopping.submit-button a {
    margin: 10px 0;
}

.pager {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    bottom: 0px;
}

.pager .pagination-container {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.pager .pagination-container .pagination {
    line-height: 1.5;
}

.pager .new {
    align-self: center;
}

.pager .dataTables_paginate {
    flex-grow: 1;
}

.dataTables_wrapper .dataTables_info {
    padding-top: unset !important;
}

.pager a {
    /* font-size-adjust: 1.5; */
    text-decoration: none;
    color: var(--font-link);
}

.pager a.navigation {
    margin: 0 10px;
}

details[open=""] > form {
    height: 100%;
}

.filter-form-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.filter-date-range, .filter-price-range, .filter-shop-container, .filter-category-container, .filter-item-container {
    width: calc(90%/6);
}

.filter-submit {
    display: flex;
    width: 8%;
    text-align: center;
}

.filter-price-range-tooltip, .filter-date-range-tooltip {
    width: 80%;
    vertical-align: bottom;
}

.filter-form-container input {
    width: -moz-available;
}

summary {
    text-align: center;
}

.filter-form ul.errors {
    display: flex;
    justify-content: space-evenly;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.data-table.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

@media 
only screen and (max-width: 900px),
(min-device-width: 808px) and (max-device-width: 1024px)  {

    .shopping-table .link {
        text-align: left;
    }

    .shopping-list-table .shopping-items-in-list  {
        position: relative;
        left: -40%;
        width: 140%;
    }

    .shopping-items-in-list span.name {
        white-space: nowrap;
    }
}