/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
	width: 100%;
	max-width: 100%;
    border-collapse: collapse;
    text-align: center;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
	background: var(--background); 
}
th { 
	background: var(--background-light); 
	color: var(--font-foreground); 
	font-weight: bold; 
}
td, th { 
	padding: 6px; 
	border: 1px solid var(--border-medium); 
	text-align: left; 
}

.data-table {
	/* table-layout: fixed; */
	width: 100%;
}

.data-table th, .data-table td {
	word-wrap: break-word;
	word-break: break-all;
}

.data-table .edit_delete_header, .data-table .model_id {
	width: 30px;
}

.col-small { width: 60px; }
.col-medium { width: 10%; }
.col-large { width: 30%; }

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 900px),
(min-device-width: 808px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	tr { border: 1px solid var(--border-medium); }

	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid var(--border-medium); 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	tfoot {
		display: inline-block;
		width: 100%;
	}

	.data-table .model_id, .col-small, .col-medium, .col-large {
		width: inherit;
	}

    .data-table td:nth-last-of-type(2):before { content: "Edit"; width: 25%; }
    .data-table td:nth-last-of-type(1):before { content: "Delete"; width: 25%; }
	.data-table td:nth-of-type(1):before { content: "Id"; width: 25%; }

    /* #shopping-list-table td:nth-of-type(4):before { content: "Date"; width: 25%; }
    #shopping-list-table td:nth-of-type(5):before { content: "Price"; width: 25%; }
    #shopping-list-table td:nth-of-type(6):before { content: "Shop"; width: 25%; }
    #shopping-list-table td:nth-of-type(7):before { content: "Category"; width: 25%; }
    #shopping-list-table td:nth-of-type(8):before { content: "Items"; width: 25%; }

    #shopping-list-items-table td:nth-of-type(1):before { content: "Item Name"; }
    #shopping-list-items-table td:nth-of-type(2):before { content: "Item Price"; } */

	#shopping-items-table td:nth-of-type(2):before { content: "Name"; width: 25%; }
	#shopping-items-table td:nth-of-type(3):before { content: "Price"; width: 25%; }
	#shopping-items-table td:nth-of-type(4):before { content: "Volume"; width: 25%; }
	#shopping-items-table td:nth-of-type(5):before { content: "Price per volume"; width: 25%; }
	#shopping-items-table td:nth-of-type(6):before { content: "Sale"; width: 25%; }
	#shopping-items-table td:nth-of-type(7):before { content: "Note"; width: 25%; }
	#shopping-items-table td:nth-of-type(8):before { content: "Category"; width: 25%; }

	#shopping-shops-table td:nth-of-type(2):before { content: "Name"; width: 25%; }
    #shopping-shops-table td:nth-of-type(3):before { content: "Category"; width: 25%; }

	#shopping-categories-table td:nth-of-type(2):before { content: "Name"; width: 25%; }

    #mqtt-table td:nth-of-type(2):before { content: "Date"; width: 25%; }
    #mqtt-table td:nth-of-type(3):before { content: "Topic"; width: 25%; }
    #mqtt-table td:nth-of-type(4):before { content: "Payload"; width: 25%; }
    #mqtt-table td:nth-of-type(5):before { content: "QOS"; width: 25%; }
	#mqtt-table td:nth-of-type(6):before { content: "Retain"; width: 25%; }
	
    #probe-request-table td:nth-of-type(2):before { content: "Date"; width: 25%; }
    #probe-request-table td:nth-of-type(3):before { content: "Mac-Address"; width: 25%; }
    #probe-request-table td:nth-of-type(4):before { content: "Make"; width: 25%; }
    #probe-request-table td:nth-of-type(5):before { content: "ssid"; width: 25%; }
	#probe-request-table td:nth-of-type(6):before { content: "rssi"; width: 25%; }

    #rf-data-table td:nth-of-type(2):before { content: "Date"; width: 25%; }
    #rf-data-table td:nth-of-type(3):before { content: "Decimal"; width: 25%; }
    #rf-data-table td:nth-of-type(4):before { content: "Bits"; width: 25%; }
    #rf-data-table td:nth-of-type(5):before { content: "Binary"; width: 25%; }
	#rf-data-table td:nth-of-type(6):before { content: "Pulse Length"; width: 25%; }
	#rf-data-table td:nth-of-type(7):before { content: "Protocol"; width: 25%; }

	#state-table td:nth-of-type(2):before { content: "Date"; width: 25%; }
	#state-table td:nth-of-type(3):before { content: "Device"; width: 25%; }
    #state-table td:nth-of-type(4):before { content: "State"; width: 25%; }

    #room-data-table td:nth-of-type(2):before { content: "Date"; width: 25%; }
    #room-data-table td:nth-of-type(3):before { content: "Temperature"; width: 25%; }
    #room-data-table td:nth-of-type(4):before { content: "Humidity"; width: 25%; }
    #room-data-table td:nth-of-type(5):before { content: "Pressure"; width: 25%; }
	#room-data-table td:nth-of-type(6):before { content: "Brightness"; width: 25%; }
	#room-data-table td:nth-of-type(7):before { content: "Altitude"; width: 25%; }

    #tablet-battery-table td:nth-of-type(2):before { content: "Date"; width: 25%; }
    #tablet-battery-table td:nth-of-type(3):before { content: "Level"; width: 25%; }
}