.users-table td.link a, td.link {
    text-align: center;
}

.users-extra-options {
    display: flex;
    justify-content: space-evenly;
}

.users-table thead th {
    word-wrap: break-word;
    word-break: break-all;
}
.users-table tbody td {
    word-wrap: break-word;
    word-break: break-word;
}

table.users-activate-table > td, th {
    text-align: center;
}

.users-table input[type=submit], .users-activate-table input[type=submit] {
    margin: 10px 0;
    width: 50%;
}

@media 
only screen and (max-width: 900px),
(min-device-width: 808px) and (max-device-width: 1024px)  {
    .users-table td.link a, td.link {
        text-align: left;
    }
}
