{% extends "layout.html" %}

{% block content %}
{% if current_user.is_admin %}
    {% include "navbar.html" %}
{% endif %}
<div class="user-welcome">
    <h1 style="text-align: center;">Welcome {{ user.name if user.name else 'Admin' }}</h1>
    <hr>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Last Login: {{ user.last_login }}</p>
    <p>Account created at: {{ user.created_on.strftime('%c') }}</p>
    <a href="{{ url_for('home_bp.logout') }}"><button>Logout</button></a>
</div>
{% endblock %}
