{% from "macros.html" import render_all_flashes %}
{% extends "base.html" %}

{% block content %}
{% if current_user.is_admin %}
    {% include "adminbar.html" %}
{% endif %}
{{ render_all_flashes() }}
<div class="user-welcome card">
    <h1 style="text-align: center;">Welcome {{ user.name if user.name else 'Admin' }}</h1>
    <hr>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Last Login: {{ user.last_login }}</p>
    <p>Account created at: {{ user.created_on.strftime('%c') }}</p>
    <a class="material-icons" href="{{ url_for('home_bp.logout') }}">exit_to_app</a>
</div>
{% endblock %}
