<div class="admin-navbar">
    <ul class="navbar">
        <li><a href="{{ url_for('admin_bp.users') }}">Users</a></li>
        <li><a href="{{ url_for('admin_bp.shopping_list') }}">Lists</a></li>
        <li><a href="{{ url_for('admin_bp.shopping_item') }}">Items</a></li>
        <li><a href="{{ url_for('admin_bp.shopping_shop') }}">Shops</a></li>
        <li><a href="{{ url_for('admin_bp.shopping_category') }}">Categories</a></li>
        <li><a href="{{ url_for('admin_bp.room_data') }}">Room Data</a></li>
        <li><a href="{{ url_for('admin_bp.rf_data') }}">Rf Data</a></li>
        <li><a href="{{ url_for('admin_bp.mqtt') }}">Mqtt</a></li>
        <li><a href="{{ url_for('admin_bp.probe_request') }}">Probe Request</a></li>
        <li><a href="{{ url_for('admin_bp.state') }}">State</a></li>
        <li><a href="{{ url_for('admin_bp.tablet_battery') }}">Tablet Battery</a></li>
    </ul>
</div>