{% from "macros.html" import render_all_flashes %}
{% extends "base.html" %}

{% block content %}
{% include "adminbar.html" %}
<div class="card">
    {{ render_all_flashes() }}
    <table class="users-table data_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Created On</th>
                <th>Last Login</th>
                <th>Is Admin</th>
                <th>Is Activated</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="table-users-data">
            {% for user in all_users %}
            <tr>
                <td data-title="Name">{{ user.name }}</td>
                <td data-title="E-Mail">{{ user.email }}</td>
                <td data-title="Username">{{ user.username }}</td>
                <td data-title="Created on">{{ user.created_on.strftime('%d.%m.%Y %H:%M:%S') if user.created_on else '-' }}</td>
                <td data-title="Last login">{{ user.last_login.strftime('%d.%m.%Y %H:%M:%S') if user.last_login else '-' }}</td>
                <td data-title="Is Admin">{{ user.is_admin }}</td>
                <td data-title="Is Activated">{{ user.is_activated }}</td>
                <td class="link" data-title="Edit">
                    <a href="{{ url_for('admin_bp.edit_user', username=user.username) }}" class="material-icons">edit</a>
                </td>
                <td class="link" data-title="Delete">
                    <a href="{{ url_for('admin_bp.delete_user', username=user.username) }}" class="material-icons">delete_forever</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="users-extra-options card">
    <a class="material-icons" href="{{ url_for('admin_bp.new_user') }}">add_circle</a>
    <a class="material-icons" href="{{ url_for('admin_bp.activation') }}">verified_user</a>
</div>
{% endblock %}
