
.banner-image-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/street.jpg');
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    color: var(--font-foreground);
}

.banner-text h1 {
    margin-left: 49px;
}

.card {
    box-shadow: 0 1px 2px 0 rgba(255,255,255,0.05);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--background-card);
    margin: 2% 5%;
    padding: 0.5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.05);
}
