{% from "macros.html" import render_flashes %}
{% extends "base.html" %}

{% block extra_assets %}
{% assets "datatables_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "datatables_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<script src="{{ url_for('admin_bp.category_js') }}"></script>

{% endblock %}

{% block content %}
{% include "adminbar.html" %}

<div class="flashes">
    {{ render_flashes('error') }}
    {{ render_flashes('warning') }}
    {{ render_flashes('info') }}
    {{ render_flashes('success') }}
</div>
<table class="shopping-table data-table stripe" id="shopping-categories-table">
    <thead>
        <tr>
            <th class="model_id">Id</th>
            <th>Name</th>
            <th class="edit_delete_header"></th>
            <th class="edit_delete_header"></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th><input type="number" placeholder="Id" /></th>
            <th><input type="text" placeholder="Name" /></th>
            <th class="edit_delete_footer"></th>
            <th class="edit_delete_footer"></th>
        </tr>
    </tfoot>
</table>

{% endblock %}
