{% from "macros.html" import render_flashes %}
{% extends "base.html" %}

{% block extra_assets %}
{% assets "chosen_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "chosen_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block content %}
{% include "adminbar.html" %}

<div class="card">
    <div class="form-wrapper">

        <div class="flashes">
            {{ render_flashes('error') }}
            {{ render_flashes('warning') }}
            {{ render_flashes('info') }}
            {{ render_flashes('success') }}
        </div>

        <h3>Edit Shop {{ shop.name }}</h3>

        <form id="shop-edit-form" method="POST" action="{{ url_for('admin_bp.edit_shopping_shop', id=shop.id) }}">
            {{ form.csrf_token }}

            <table class="admin-table" cellspacing="0" cellpadding="0">
                {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>
                        <fieldset class="{{ field.type }}">
                            {{ field }}
                            {% if field.errors %}
                            <ul class="errors">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </fieldset>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="shopping submit-button">
                <input class="material-icons" type="submit" value="send"/>
                <a class="material-icons" href="{{ url_for('admin_bp.delete_shopping_shop', id=shop.id) }}">delete</a>
                <a class="material-icons" href="{{ url_for('admin_bp.new_shopping_shop') }}">add_circle</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
