{% from "macros.html" import render_flashes %}
{% extends "base.html" %}

{% block content %}
{% include "adminbar.html" %}

<div class="card">
    <div class="form-wrapper">

        <div class="flashes">
            {{ render_flashes('error') }}
            {{ render_flashes('warning') }}
            {{ render_flashes('info') }}
            {{ render_flashes('success') }}
        </div>

        <h3>New Shop</h3>

        <form id="shop-new-form" method="POST">
            {{ form.csrf_token }}

            <table class="admin-table" cellspacing="0" cellpadding="0">
                {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>
                        <fieldset class="{{ field.type }}">
                            {{ field }}
                            {% if field.errors %}
                            <ul class="errors">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </fieldset>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="shopping submit-button">
                <input class="material-icons" type="submit" value="send"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
