/*
GraduatedBar - background
*/
.MVpzQ {
    background-color: var(--background) !important;
    /* margin: 10px !important; */
    border: 1px solid var(--border-medium) !important;
}

/* 
DataTable cell selection
*/
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    /* border-collapse: collapse; */
    /* font-family: monospace; */
    --accent: var(--orange) !important;
    /* --border: lightgrey; */
    /* --text-color: #3c3c3c; */
    /* --hover: #fdfdfd; */
    /* --background-color-ellipses: #fdfdfd; */
    /* --faded-text: #fafafa; */
    /* --faded-text-header: #b4b4b4; */
    --selected-background: var(--background) !important;
    /* --faded-dropdown: #f0f0f0; */
    /* --muted: #c8c8c8; */
}

/* 
SingleDatePicker
*/
.SingleDatePickerInput__withBorder {
    border-radius: 2px;
    border: 2px solid var(--foreground);
    background-color: var(--background-medium);
}

.SingleDatePicker_picker__fullScreenPortal {
    background-color: var(--background);
}

/* 
Bootstraps Components
Toast
*/
.toast {
    position: fixed;
    top: 35%;
    left: 5%;
    width: 300px;
    max-width: 300px;
    padding: 1%;
    /* overflow: hidden; */
    /* font-size: 0.875rem; */
    background-color: var(--background-light) !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* opacity: 0; */
    border-radius: 0.5rem;
}

/*
Checklist padding
*/
.checklist {
    /* border: 10px solid #fff !important; */
    padding: 1% 1%;
}


/*
Gauge

.gauge {
    padding: 10px 0;
    text-align: center;
}
*/
/*
Gauge height

.sc-iwsKbI {
    padding: 0px;
    height: 220px;
}
*/

/*
Gauge current font size
*/
div.cAPXWV,
div.sc-gqjmRU,
div.jjZFEi {
    font-size: 1.25em;
}

label.sc-bwzfXH {
    font-size: 1.35em;
}

/*
Graph in column margin left override
*/
.graph_in_column {
    margin-left: 0 !important;
}

/*
DateMonthPicker
*/
.DateInput .DateRangePickerInput_arrow .DateRangePickerInput_arrow_1 .data__hist__item {
    color: var(--foreground) !important;
    font-weight: 300 !important;
    background-color: var(--background) !important;
    border: 1px solid var(--border-dark);
    /* border: 1px solid #111111; */
}

.DateRangePickerInput {
    background-color: var(--background) !important;
    display: inline-block;
}

.DateRangePickerInput__withBorder {
    border-radius: 2px;
    border: 1px solid var(--border-light);
}

.DateInput_input {
    color: var(--foreground);
    background-color: var(--background) !important;
    border: 1px solid var(--border-medium);
}

.DayPicker_focusRegion {
    color: var(--foreground);
    background-color: var(--background) !important;
    border: 1px solid var(--border-dark);
}

.DayPicker_transitionContainer {
    background-color: var(--background-medium) !important;
    border: 1px solid var(--border-medium);
}

.DateRangePicker_picker {
    background-color: var(--background);
    /* background-color: rgba(17,17,17,0.9); */
}

.DayPicker,
.DayPickerKeyboardShortcuts_panel,
.DayPickerNavigation_button,
.CalendarMonthGrid,
.CalendarMonth,
.CalendarDay,
.DayPickerNavigation {
    color: var(--foreground);
    background-color: var(--background-medium) !important;
    border: 1px solid var(--border-medium);
}

.DateInput_fangShape {
    fill: var(--background-medium);
}

.DateInput_fangStroke {
    stroke: var(--background-medium);
    fill: transparent;
}


/* 
Datatable pagaing buttons
*/
.previous-page, .next-page, .first-page, .current-page, .last-page {
    background-color: var(--background-medium) !important;
}

input.current-page::placeholder {
    color: var(--foreground) !important;
}