.list_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    /* grid-auto-rows: 30px; */
    grid-auto-flow: row;

    gap: 5px;

    grid-template-areas: 
        "date_header price_header shop_header category_header . ."
        "date price shop category . .";
    /* grid-template-rows: 50px 50px 50px; */
}

.grid_card {
    box-shadow: 0 1px 2px 0 rgba(255,255,255,0.05);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--background-card);
}

.grid_card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.05);
}

.date_header {
    grid-area: date_header;
}
.price_header {
    grid-area: price_header;
}
.shop_header {
    grid-area: shop_header;
}
.category_header {
    grid-area: category_header;
}
.date {
    grid-area: date;
}
.price {
    grid-area: price;
}
.shop {
    grid-area: shop;
}
.category {
    grid-area: category;
}
.edit {
    grid-column: 5;
    grid-row: 1 / 3;
}
.details {
    grid-area: 3 / 1 / 4 / 6;
    box-shadow: 1px 2px 2px 1px rgba(255, 255, 255, 0.144);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--background);
}
.details:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.05);
}

.list_container .item {
    /* justify-self: center; */
    /* align-self: center; */
    text-align: center;
}