
.custom__main__tabs__container {
    border: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.custom__main__tab {
    border-bottom: 1px solid var(--border-light) !important;
    padding: 6px !important;
    font-weight: bold !important;
    font-size: 150%;
    background-color: var(--background) !important;
}

.custom__main__tab____selected {
    border-top: 1px solid var(--border-light) !important;
    border-bottom: 1px solid var(--border-light) !important;
    background-color: var(--background-light) !important;
    color: var(--foreground) !important;
    padding: 6px !important;
}

.custom__main__sub__tab {
    border-top: 0px !important;
    border-bottom: 1px solid var(--border-light) !important;
    padding: 6px !important;
    background-color: var(--background) !important;
}

.custom__main__sub__tab____selected {
    border-top: 0px !important;
    border-bottom: 1px solid var(--border-light) !important;
    background-color: var(--background-light) !important;
    color: var(--foreground) !important;
    padding: 6px !important;
}
