.dashboard-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "temp temp humid humid press press"
                         "day_hrs day_hrs day_hrs day_hrs brightness altitude"
                         "day_hrs day_hrs day_hrs day_hrs . .";
    
    grid-gap: 10px;
}

@media(max-width:768px) {
    .dashboard-content {
        grid-template-columns: 1fr;
        grid-template-areas: "temp"
                             "humid"
                             "press"
                             "brightness"
                             "altitude"
                             "day_hrs";
    }
}

.temperature-current-container {
    grid-area: temp;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.humidity-current-container {
    grid-area: humid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.pressure-current-container {
    grid-area: press;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.day-hrs-container {
    grid-area: day_hrs;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brightness-current-container {
    grid-area: brightness;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.altitide-current-container {
    grid-area: altitude;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard-content .card {
    box-shadow: 0 1px 2px 0 rgba(255,255,255,0.05);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--background-card);
    margin: 0;
    padding: 5px;
}

.dashboard-content .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.05);
}

#day-data-graph {
    height: 25vh;
}

/* progressbar stylings */
.circle-progress-circle {
    stroke: var(--foreground-dark);
}

#temperature-display .circle-progress-value {
    stroke: var(--colorway-0);
}
#humidity-display .circle-progress-value {
    stroke: var(--colorway-1);
}
#pressure-display .circle-progress-value {
    stroke: var(--colorway-2);
}
