.dashboard-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        "temp    temp    humid   humid   press        press"
        "day_hrs day_hrs day_hrs day_hrs brightness   altitude"
        "day_hrs day_hrs day_hrs day_hrs pc_status    rpi_status"
        "day_hrs day_hrs day_hrs day_hrs bme_status   voiceassistant_status"
        "weather weather weather weather tablet_place tablet_place"
        "weather weather weather weather . .";
    
    grid-gap: 10px;
}

@media(max-width:768px) {
    .dashboard-content {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* grid-template-rows: auto; */
        grid-template-areas:
            "temp"
            "humid"
            "press"
            "brightness"
            "altitude"
            "day_hrs"
            "pc_status"
            "rpi_status"
            "bme_status"
            "voiceassistant_status"
            "tablet_place";
    }
}

.weather-container {
    grid-area: weather;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "current hours hours"
        "current days days";
    grid-gap: 10px;
}
.weather-container.day {
    background-color: var(--foreground) !important;
}
.weather-container.night {
    background-color: var(--foreground-dark) !important;
}
.weather-container .weather-current-container {
    grid-area: current;
}
.weather-container .weather-hours-container {
    grid-area: hours;
}
.weather-container .weather-days-container {
    grid-area: days;
}
.weather-current-sub-container {
    display: flex;
    align-items: center;
}
.weather-container p, h6 {
    margin: 0;
}
.weather-container .weather-current-date {
    font-size: small;
}

.tablet-status-ctainer {
    grid-area: tablet_place;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.temperature-current-container {
    grid-area: temp;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.humidity-current-container {
    grid-area: humid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.pressure-current-container {
    grid-area: press;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.day-hrs-container {
    grid-area: day_hrs;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brightness-current-container {
    grid-area: brightness;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.altitide-current-container {
    grid-area: altitude;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard-content .card {
    box-shadow: 0 1px 2px 0 rgba(255,255,255,0.05);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--background-card);
    margin: 0;
    padding: 5px;
}

.dashboard-content .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.05);
}

#day-data-graph {
    height: 25vh;
}

/* progressbar stylings */
.circle-progress-circle {
    stroke: var(--foreground-dark);
}

#temperature-display .circle-progress-value {
    stroke: var(--colorway-0);
}
#humidity-display .circle-progress-value {
    stroke: var(--colorway-1);
}
#pressure-display .circle-progress-value {
    stroke: var(--colorway-2);
}

.computer-status-ctainer {
    grid-area: pc_status;
}
.voice_assistant-status-ctainer {
    grid-area: voiceassistant_status;
}
.esp_bme_rf-status-ctainer {
    grid-area: bme_status;
}
.smrt-uncrn-cllctr-status-ctainer {
    grid-area: rpi_status;
}

.device-state {
    color: var(--foreground-dark);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.device-state.gone { background-color: var(--colorway-2); }
.device-state.on { background-color: var(--colorway-1); }
.device-state.off { background-color: var(--colorway-0); }