{% from "macros.html" import render_all_flashes %}
{% from "item_form.html" import make_new_item_form %}
{% extends "base.html" %}

{% block extra_assets %}
{% assets "flexdatalist_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "flexdatalist_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<script type="text/javascript" src="{{ url_for('shopping_add_bp.adding_js') }}"></script>

{% endblock %}
{% block content %}


<div class="flashes">
    {{ render_all_flashes() }}
</div>

{# render form #}
<div class="card">
    <h3>Add Shopping List</h3>
    <form id="add-form" method="POST">
        {{ form.csrf_token }}

        <table class="add-table" cellspacing="0" cellpadding="0">
            {#% for field in form if field.widget.input_type != 'hidden' %#}
            <tr>
                <td>{{ form.date.label }}</td>
                <td><fieldset class="{{ form.date.type }}">
                    {{ form.date }}
                    {% if form.date.errors %}<ul class="errors">{% for error in form.date.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ form.price.label }}</td>
                <td><fieldset class="{{ form.price.type }}">
                    {{ form.price }}
                    {% if form.price.errors %}<ul class="errors">{% for error in form.price.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ form.shop.label }}</td>
                
                <td><fieldset class="{{ form.shop.type }}">
                    {{ form.shop.form.name }}
                    {{ form.shop.form.category(class='is-hidden', placeholder="Category name") }}
                    {% if form.shop.errors %}<ul class="errors">{% for error in form.shop.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ form.category.label }}</td>
                <td><fieldset class="{{ form.category.type }}">
                    {{ form.category }}
                    {% if form.category.errors %}<ul class="errors">{% for error in form.category.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ form.items.label }}</td>
                <td><fieldset class="{{ form.items.type }}">
                    {{ form.items }}
                    {% if form.items.errors %}<ul class="errors">{% for error in form.items.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>
                    {{ form.new_items.label }}
                    <br />
                    <div class="">
                        <button type="button" id="add-new-shopping-item" class="material-icons">add</button>
                        <button type="button" id="remove-new-shopping-item" class="material-icons">remove</button>
                    </div>
                </td>
                <td><fieldset class="{{ form.new_items.type }}">
                    {{ form.new_items }}
                    {% if form.new_items.errors %}<ul class="errors">{% for error in form.new_items.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            {#% endfor %#}
        </table>
        <div class="shopping submit-button sticky">
            <input class="material-icons" type="submit" value="send"/>
            <button type="button" class="clear-form material-icons">clear</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script nonce="{{ csp_nonce() }}">
    function make_new_item_form() {
        return `{{ make_new_item_form() }}`
    }

</script>
{% endblock %}

