{% from "macros.html" import render_all_flashes %}
{% extends "base.html" %}

{% block extra_assets %}
{% assets "flexdatalist_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "flexdatalist_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% assets "jquerymodal_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "jquerymodal_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<script type="text/javascript" src="{{ url_for('shopping_add_bp.adding_js') }}"></script>

{% endblock %}


{% block content %}

{{ render_all_flashes() }}

{# render form #}
<div class="card">
    <h3>Add Shopping List</h3>
    <form id="add-form" method="POST">
        {{ form.csrf_token }}

        <table class="add-table" cellspacing="0" cellpadding="0">
            {#% for field in form if field.widget.input_type != 'hidden' %#}
            <tr>
                <td>{{ form.date.label }}</td>
                <td><fieldset class="{{ form.date.type }}">
                    {{ form.date }}
                    {% if form.date.errors %}<ul class="errors">{% for error in form.date.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ form.price.label }}</td>
                <td><fieldset class="{{ form.price.type }}">
                    {{ form.price }}
                    {% if form.price.errors %}<ul class="errors">{% for error in form.price.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ form.shop.label }}</td>
                
                <td class="table-data-relative">
                    <fieldset class="{{ form.shop.type }}">
                        {{ form.shop.form.name }}
                        {{ form.shop.form.category(class='is-hidden', placeholder="Category name") }}
                        {% if form.shop.errors %}<ul class="errors">{% for error in form.shop.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                    </fieldset>
                    <a id="btn-add-shopping-category" class="is-hidden">Add Category <span class="material-icons">add</span></a>
                </td>
            </tr>
            <tr>
                <td>{{ form.category.label }}</td>
                <td><fieldset class="{{ form.category.type }}">
                    {{ form.category }}
                    {% if form.category.errors %}<ul class="errors">{% for error in form.category.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ form.items.label }}</td>
                <td class="table-data-relative">
                    <fieldset class="{{ form.items.type }}">
                        {{ form.items }}
                        {% if form.items.errors %}<ul class="errors">{% for error in form.items.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                    </fieldset>
                    <a href="{{ url_for('shopping_add_bp.shopping_add_new_item') }}" id="btn-add-new-item" class="is-hidden" rel="ajax:modal">Add new item <span class="material-icons">add</span></a>
                    {#  type="submit" value="send" #}
                </td>
            </tr>
            {#% endfor %#}
        </table>
        <div class="shopping submit-button sticky">
            <input class="material-icons" type="submit" value="send"/>
            <button type="button" class="clear-form material-icons">clear</button>
        </div>
    </form>
</div>

{# MODAL FOR ADDING NEW ITEMS #}
{# <div id="modal-add-new-item" aria-hidden="true" class="modal">
    <header>
        <h2>Add a new item</h2>
    </header>

    <div id="modal-add-new-item-content">
        <form id="add-new-item-form" action="#" method="post">
            {{ form.csrf_token }}
            <table id="new_items-_">
                <tbody>
                    <tr>
                        <th><label for="new_items-_-name">Name</label></th>
                        <td><input id="new_items-_-name" name="new_items-_-name" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th><label for="new_items-_-price">Price</label></th>
                        <td><input id="new_items-_-price" name="new_items-_-price" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th><label for="new_items-_-volume">Volume</label></th>
                        <td><input id="new_items-_-volume" name="new_items-_-volume" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th><label for="new_items-_-price_per_volume">Price</label></th>
                        <td><input id="new_items-_-price_per_volume" name="new_items-_-price_per_volume" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th><label for="new_items-_-sale">Sale</label></th>
                        <td><input id="new_items-_-sale" name="new_items-_-sale" type="checkbox" value="y"></td>
                    </tr>
                    <tr>
                        <th><label for="new_items-_-note">Note</label></th>
                        <td><input id="new_items-_-note" name="new_items-_-note" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th><label for="new_items-_-category">Category</label></th>
                        <td><input id="new_items-_-category" name="new_items-_-category" type="text" value=""></td>
                    </tr>
                </tbody>
            </table>
            <div class="submit-button">
                <input class="material-icons" type="submit" value="send"/>
            </div>
        </form>
    </div>
</div> #}

{% endblock %}

{# {% block extra_scripts %}
<script nonce="{{ csp_nonce() }}">
    function make_new_item_form() {
        return `{{ make_new_item_form() }}`
    }

</script>
{% endblock %} #}

