<form id="add-new-item-form" action="/add" method="post">
    {{ form.csrf_token }}
    <table id="new_items-_">
        <tbody>
            <tr>
                <th>{{ form.name.label }}</th>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <th>{{ form.price.label }}</th>
                <td>{{ form.price }}</td>
            </tr>
            <tr>
                <th>{{ form.volume.label }}</th>
                <td>{{ form.volume }}</td>
            </tr>
            <tr>
                <th>{{ form.price_per_volume.label }}</th>
                <td>{{ form.price_per_volume }}</td>
            </tr>
            <tr>
                <th>{{ form.sale.label }}</th>
                <td>{{ form.sale }}</td>
            </tr>
            <tr>
                <th>{{ form.note.label }}</th>
                <td>{{ form.note }}</td>
            </tr>
            <tr>
                <th>{{ form.category.label }}</th>
                <td>{{ form.category }}</td>
            </tr>
        </tbody>
    </table>
    <div class="submit-button">
        <input class="material-icons" type="submit" value="send"/>
    </div>
</form>