{% if pdf_form %}
    <form id="scan-pdf-form" action="{{ url_for('shopping_add_bp.scan_reciept') }}" method="post" enctype="multipart/form-data">
        {{ pdf_form.csrf_token }}
        <div id="scan-form-content-container">
            <div id="scan-form-reciept-upload" class="scan-form-element">
                <fieldset class="{{ pdf_form.reciept.type }}">
                    {{ pdf_form.reciept.label }}
                    {{ pdf_form.reciept }}
                    {% if pdf_form.reciept.errors %}<ul class="errors">{% for error in pdf_form.reciept.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset>
            </div>
            <div id="scan-form-shop-select" class="scan-form-element">
                <fieldset class="{{ pdf_form.shop.type }}">
                    {{ pdf_form.shop.label }}
                    {{ pdf_form.shop }}
                    {% if pdf_form.shop.errors %}<ul class="errors">{% for error in pdf_form.shop.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset>
            </div>
        </div>

        <div class="shopping submit-button sticky">
            <input class="material-icons" type="submit" value="send"/>
            <button type="button" class="clear-form material-icons">clear</button>
        </div>
        
    </form>
{% else %}
    <form id="add-form" method="POST">
        {{ receipt_form.csrf_token }}

        <table class="add-table" cellspacing="0" cellpadding="0">
            {#% for field in receipt_form if field.widget.input_type != 'hidden' %#}
            <tr>
                <td>{{ receipt_form.date.label }}</td>
                <td><fieldset class="{{ receipt_form.date.type }}">
                    {{ receipt_form.date }}
                    {% if receipt_form.date.errors %}<ul class="errors">{% for error in receipt_form.date.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ receipt_form.price.label }}</td>
                <td><fieldset class="{{ receipt_form.price.type }}">
                    {{ receipt_form.price }}
                    {% if receipt_form.price.errors %}<ul class="errors">{% for error in receipt_form.price.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            <tr>
                <td>{{ receipt_form.shop.label }}</td>
                
                <td class="table-data-relative">
                    <fieldset class="{{ receipt_form.shop.type }}">
                        {{ receipt_form.shop.form.name }}
                        {{ receipt_form.shop.form.category(class='is-hidden', placeholder="Category name") }}
                        {% if receipt_form.shop.errors %}<ul class="errors">{% for error in receipt_form.shop.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                    </fieldset>
                    <a id="btn-add-shopping-category" class="is-hidden">Add Category <span class="material-icons">add</span></a>
                </td>
            </tr>
            <tr>
                <td>{{ receipt_form.category.label }}</td>
                <td><fieldset class="{{ receipt_form.category.type }}">
                    {{ receipt_form.category }}
                    {% if receipt_form.category.errors %}<ul class="errors">{% for error in receipt_form.category.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            {% if receipt_form.user %}
            <tr>
                <td>{{ receipt_form.user.label }}</td>
                <td><fieldset class="{{ receipt_form.user.type }}">
                    {{ receipt_form.user }}
                    {% if receipt_form.user.errors %}<ul class="errors">{% for error in receipt_form.user.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </fieldset></td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ receipt_form.items.label }}</td>
                <td class="table-data-relative">
                    <fieldset class="{{ receipt_form.items.type }}">
                        {{ receipt_form.items }}
                        {% if receipt_form.items.errors %}<ul class="errors">{% for error in receipt_form.items.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                    </fieldset>
                    <a href="{{ url_for('shopping_add_bp.shopping_add_new_item') }}" id="btn-add-new-item" class="is-visible" rel="ajax:modal">Add new item <span class="material-icons">add</span></a>
                    {#  type="submit" value="send" #}
                </td>
            </tr>
            {#% endfor %#}
        </table>
        <div class="shopping submit-button sticky">
            <input class="material-icons" type="submit" value="send"/>
            <button type="button" class="clear-form material-icons">clear</button>
        </div>
    </form>
{% endif %}