html, body {
    margin: 0;
    padding: 0;

    width: auto;
    height: 100vh;

    background-color: var(--background);
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.container {
    display: grid;

    grid-template-areas:
      "header header"
      "nav content"
      "footer footer";

    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;

    height: 100vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
    margin-right: 10px;
}

footer {
    grid-area: footer;
}

@media (max-width: 768px) {
    .container {
        grid-gap: 0px;
        grid-template-areas:
            "header"
            "nav"
            "content"
            "footer";

        grid-template-columns: 1fr;
        grid-template-rows:
            auto /* Header */
            minmax(75px, auto) /* Nav */
            1fr /* Content */
            auto; /* Footer */
    }

    main {
        margin-right: 0;
    }
}
