
.card {
    box-shadow: 0 1px 2px 0 rgba(255,255,255,0.05);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--background-card-transparent);
    margin: 2% 5%;
    padding: 0.5%;
}

.card-fill {
    box-shadow: 0 1px 2px 0 rgba(255,255,255,0.05);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--background-card);
    margin: 2% 5%;
    padding: 0.5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.05);
}
