nav .navbar {
    height: 100%;

    display: flex;
    flex-direction: column;
    width: 200px;

    /* background-color: var(--background); */
    border-right: 2px solid var(--border-medium);
    white-space: nowrap;
    text-align: center;
}

/* hide header navbar icon on non-mobile */
nav .navbar-toggle {
    display: none;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 2px solid var(--border-medium);
}

nav .navbar-toggle[type="checkbox"] {
    display: none;
}

nav .navbar-toggle {
    position: fixed;
    top: 30px;
    left: 15px;
}

@media (max-width: 768px) {
    /* show navbar hamburger icon */
    nav .navbar-toggle {
        display: initial;
    }

    nav .navbar {
        width: 0;
        display: none;
        height: 100%;
    }

    nav .navbar-toggle:not(checked) ~ .navbar {
        width: 0;
        display: none;
        border-right: none;

    }
    nav .navbar-toggle:checked ~ .navbar {
        width: 200px;
        display: flex;
        border-right: 2px solid var(--border-medium);

    }

}

nav a {
    text-align: left;
    text-decoration: none;
    /* font-size: 25px; */
    color: var(--font-link);
    
}

nav a i {
    padding: 20px 10px;
}

nav a span {
  /* font-size: 3rem; */
    vertical-align: middle;
}

nav a:hover {
    color: var(--font-link-hover);
}

nav .dropdown-container {
    display: flex;
    flex-direction: column;
}

nav .dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

nav .dropdown-items {
    display: flex;
    flex-direction: column;
    /* margin-left: 30px; */

    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

nav .dropdown-button:hover > nav .dropdown-items {
    max-height: 100%;
    transition: max-height 0.25s ease-in;
}

nav .dropdown-item {
    padding-left: 40px;
}

nav .collapsed {
    transition: max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
}

nav .expanded {
    max-height: 100%;
    transition: max-height 1s ease-in;
}