
.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background);
  transition: 0.5s;
  /* all 1s ease 0s; */
  overflow-x: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 15px;

  border-right: 2px solid var(--border-medium) ;
}

.sidebar a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  /* font-size: 25px; */
  color: var(--font-link);
  display: block;
}

.sidebar a:hover {
  color: var(--font-link-hover);
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

#main {
  margin-left: 85px;
  transition: margin-left 0.5s;
}

#main.sidebar-open {
  margin-left: 85px !important;
}
#page_sidebar.sidebar-open {
  width: 85px !important;
  display: block !important;
}
#open_sidebar.sidebar-open {
display: none !important;
}
#main.sidebar-closed {
  margin-left: 0px !important;
}
#page_sidebar.sidebar-closed {
  display: none !important;
}
#open_sidebar.sidebar-closed {
display: inline-block !important;
}

@media screen and (max-width: 600px) {
  .sidebar {
    height: unset;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
  }

  #main {
    margin-left: 0;
  }

  #page_sidebar {
    height: unset !important;
    width: 100% !important;
    display: flex !important;
    justify-content: space-evenly;
  }

  #main.sidebar-open {
    margin-top: unset !important;
    margin-left: 0px !important;
  }
  #page_sidebar.sidebar-open {
    height: unset !important;
    width: 100% !important;
    display: flex !important;
    justify-content: space-evenly;
  }
  #page_sidebar.sidebar-button {
    float: left;
  }
  #page_sidebar.sidebar-item {
    float: left;
  }
  #open_sidebar.sidebar-open {
  display: none !important;
  }
  #main.sidebar-closed {
    margin-top: 0px !important;
    margin-left: 0px !important;
  }
  #page_sidebar.sidebar-closed {
    display: none !important;
  }
  #open_sidebar.sidebar-closed {
  display: block !important;
  }
}


@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
