input[type="text"],
input[type="number"]
{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--foreground);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--background-medium);
  border-radius: 4px;
  border: 2px solid var(--foreground);
  cursor: pointer;
  box-sizing: border-box;
}


input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    color: var(--foreground);
    background-color: transparent;
}