
body {
    /* font-family: "Open Sans", sans-serif; */
    background-color: var(--background);
    margin: 0pt;
    min-width: 100%;
}

/*
div {
    border: 1px solid #000000;
}
*/

.settings {
    border: 1px solid var(--border-dark);
}

.app__container {
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;

    border: 0px solid var(--border-dark);
    /*margin: 3% 5%;*/
}

.app__tab__content {
    /* margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%; */
    border: 0px solid var(--border-dark);
}

.app__general {
    border: 0px solid var(--border-dark);
}


.settings__panel {
    border: 0px solid var(--border-dark);
}


.shopping__add__container {
    height: 100%;
}

.shopping__add__items {
    max-height: 70vh;
    overflow-y: auto;
}


.shopping__add__submit {
    padding: 1%;
}

.shopping_status_alert_success {
    border: 1px solid var(--border-medium);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--success);
}

.shopping_status_alert_warning {
    border: 1px solid var(--border-medium);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--orange);
}

.shopping_status_alert_fail {
    border: 1px solid var(--border-medium);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--error);
}

/* Shopping overview graph height */
.shopping__monthly_graph>.js-plotly-plot,
.shopping__daily_graph>.js-plotly-plot {
    height: 40vh !important;
}

.general__services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid black; */
}

.general__service__item {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    flex-grow: 1;
    margin: 1% 1%;
}

.general__services__states {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.general__services__state {
    margin: 10px;
    /* border: 1px solid black; */
    flex-grow: 1;
}


/*.general__stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
/*}*/

.general__stats__items {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    align-items: center;
    flex-grow: 1;
    margin: 1% 1%;
}


.general__stats__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.general__stats__cpu {
    margin: 1% 1%;
}

.general_stats_storage {
    margin: 1% 1%;
    flex-grow: 4;
}

/*
    Temperature Design
    Layout:
    -div 
        -div data__overview
            -div temp__current
            -div data__overview__day
        -div temp__hist

*/

.temp__hist {
    margin: 5px;
}

.overview__current__gauges {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 5px;
}

.data__overview {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 5px;
}

.data__current {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.data__overview__day {
    margin: 1%;
}

.data__current {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.title__center {
    text-align: center;
}

.mqtt__live {
    margin: 3px;
}

.mqtt__live__control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
}

/*.mqtt__live__input {

}

.mqtt__live__start__stop__buttons {
    
}

.start__stop__button {
    
}
*/

.mqtt__settings__panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
}

.mqtt__topic__select {
    margin-bottom: 6px;
}


/* #table, #table, .dash-header {
    color: #7FDBFF;
    background-color: #111;
} */

@media only screen and (max-width: 600px) {
    .app__content {
        display: block;
    }
    .app__header {
        display: flex;
        flex-direction: column;
    }
    .app__header__desc {
        order: 1;
        text-align: center;
    }
    .app__header__title {
        font-size: 1.5em;
        padding-top: 1%;
    }

    .general__services__states {
        display: flex;
        flex-direction: column;
    }

    .general__services {
        display: flex;
        flex-direction: column;
    }

    .data__current {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .data__overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.form__header {
    text-align: right;
}