
:root {
    --foreground: #7FDBFF;
    --foreground-dark: #123456;
    
    --background: #111111;
    --background-medium: #252525;
    --background-light: #444444;

    --border-light: #d6d6d6;
    --border-medium: #333333;
    --border-dark: #0f0f0f;

    --dark-1: #222222;
    --dark-2: #333333;

    --orange: rgb(255, 115, 0);

    --error: #960c0c;
    --success: #17960c;
}
