<div class="header-items-left">
    <h4 class="center">{{ title }}</h4>
</div>
<div class="header-items-center">
</div>
<div class="header-items-right">
{% if current_user.is_authenticated %}
    <a class="user-page no-icon-header-item" href="{{ url_for('user_bp.user') }}">{{ current_user.name }}</a>
{% else %}
    <a class="material-icons register-page" href="{{ url_for('auth_bp.register') }}">person_add</a>
{% endif %}
{% if current_user.is_authenticated %}
    <a class="material-icons" href="{{ url_for('home_bp.logout') }}">exit_to_app</a>
{% else %}
    <a class="login-page material-icons" href="{{ url_for('auth_bp.login') }}">exit_to_app</a>
{% endif %}
</div>