<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"> 
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>

<body class="{{template}}" style="margin: 0">
    {% include 'sidebar.html' %}
    <div id="main" class="main">
        {% include 'infobar.html' %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>