{% macro render_pagination(pagination, endpoint) %}
<div class=pagination>
{%- for page in pagination.iter_pages() %}
    {% if page %}
        {% if page != pagination.page %}
            <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
        {% else %}
            <strong>{{ page }}</strong>
        {% endif %}
    {% else %}
        <span class=ellipsis>…</span>
    {% endif %}
{%- endfor %}
</div>
{% endmacro %}


{% macro render_flashes(class) %}
    {% with msgs = get_flashed_messages(category_filter=[class]) %}
        {% for msg in msgs %}
            <div class="flash {{ class }} message">
                <span>{{ msg }}</span>
                <i class="close-flash material-icons">close</i>
            </div>
        {% endfor %}
    {% endwith %}
{% endmacro %}


{% macro render_all_flashes() %}
<div class="flashes">
    {{ render_flashes('error') }}
    {{ render_flashes('warning') }}
    {{ render_flashes('info') }}
    {{ render_flashes('success') }}
</div>
{% endmacro %}


{% macro render_error_page(error_num, error_text) %}
<div class="error_wrapper">
<section class="error-container">
  <span><span>{{ error_num[0] }}</span></span>
  <span>{{ error_num[1] }}</span>
  <span><span>{{ error_num[2] }}</span></span>
</section>
<p class="zoom-area">{{ error_text }}</p>
</div>
{% endmacro %}
