<div id="page_sidebar" class="sidebar" onmouseover="toggleMySidebar()" onmouseout="sidebar_collapse()">
    <a class="sidebar-item sidebar-button" onclick="sidebar_close()">
        <i class="material-icons">cancel</i>
    </a><br>
    <a href="/"><span><i class="material-icons">home</i></a><br>
    <a href="/dashboard/"><span><i class="material-icons">dashboard</i></a></br>
    <a href="/graph/"><span><i class="material-icons">poll</i></a></br>
    {% if current_user.is_authenticated and current_user.is_admin %}
        <a href="{{ url_for('admin_bp.users') }}"><span><i class="material-icons">admin_panel_settings</i></span></a>
    {% endif %}
</div>