{% extends "layout.html" %}

{% block content %}
<div class="banner-image-wrapper">
  <div class="banner-text">
      <h1 class="greeting">Welcome</h1>
  </div>
</div>
<div class="card">
  
  <p class="subtitle">Demo for embedding Plotly Dash within Flask Apps (View source on <a href="https://github.com/toddbirchard/plotlydash-flask-tutorial">Github</a>).</p>
  <a href="/dashapp/" class="dash-link">
    <span>Embdedded Plotly Dash</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
